apiVersion: v1
kind: Secret
metadata:
  name: argocd-secret
  namespace: argocd
type: Opaque
stringData:
  admin.password: "$2a$10$E6Q6sZ1b1m0sQ0sG4H9zKOBx5xQ2w8n3m9K2xKq5mKc4cXyKq2q6a"
  admin.passwordMtime: "2025-01-01T00:00:00Z"
