serviceAccount:
  create: true
  name: loki
  annotations:
    eks.amazonaws.com/role-arn: ${loki_role_arn}

deploymentMode: SingleBinary

loki:
  auth_enabled: false

  commonConfig:
    replication_factor: 1
    path_prefix: /tmp/loki

  storage:
    type: s3
    s3:
      region: ap-northeast-2
      bucketnames: t3-wagu-loki-logs


  schemaConfig:
    configs:
      - from: 2023-01-01
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

  compactor:
    working_directory: /tmp/loki/compactor

singleBinary:
  replicas: 1
  persistence:
    enabled: false

read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0

logs:
  enabled: true

grafanaAgent:
  enabled: false

promtail:
  enabled: true
  config:
    snippets:
      pipelineStages:
        - cri: {}
