apiVersion: apps/v1
kind: Deployment
metadata:
  name: matching-deploy
  namespace: matching
spec:
  replicas: 1
  selector:
    matchLabels:
      app: matching
  template:
    metadata:
      labels:
        app: matching
    spec:
      terminationGracePeriodSeconds: 60

      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              preference:
                matchExpressions:
                  - key: eks.amazonaws.com/nodegroup
                    operator: In
                    values:
                      - matching-node-group
      tolerations:
        - key: dedicated
          operator: Equal
          value: matching
          effect: NoSchedule
      containers:
        - name: matching
          image: 061039804626.dkr.ecr.ap-northeast-2.amazonaws.com/t3-wagu-matching-server:428f20f-1
          imagePullPolicy: Always
          ports:
            - containerPort: 300

          resources:
            requests:
              cpu: "500m" #100m
              memory: "512Mi" #256Mi
            limits:
              cpu: "1000m" #500m
              memory: "1Gi" #512Mi
          lifecycle:
            preStop:
              exec:
                command: ["/bin/sh", "-c", "sleep 15"]

          env:
            - name: PORT
              value: "3000"
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: matching-secret
                  key: JWT_SECRET
            - name: REDIS_HOST
              valueFrom:
                secretKeyRef:
                  name: matching-secret
                  key: REDIS_HOST
            - name: REDIS_PORT
              valueFrom:
                secretKeyRef:
                  name: matching-secret
                  key: REDIS_PORT
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: matching-secret
                  key: REDIS_PASSWORD
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: matching-secret
                  key: DB_HOST
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: matching-secret
                  key: DB_PORT
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: matching-secret
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: matching-secret
                  key: DB_PASSWORD
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: matching-secret
                  key: DB_NAME
            - name: MODE
              value: "normal"
            - name: MAX_PLAYERS
              value: "5"
            - name: GAME_RESULT_QUEUE_URL
              valueFrom:
                secretKeyRef:
                  name: matching-secret
                  key: GAME_RESULT_QUEUE_URL

            - name: AGONES_ALLOCATOR_ENDPOINT
              # 환경변수 분리 필수
              value: "https://k8s-agonessy-agonesal-6575643784-5ef934a1e08f470a.elb.ap-northeast-2.amazonaws.com"
            - name: AGONES_CLIENT_CERT_PATH
              value: "/etc/agones/allocator/client/tls.crt"
            - name: AGONES_CLIENT_KEY_PATH
              value: "/etc/agones/allocator/client/tls.key"
            - name: AGONES_CA_CERT_PATH
              value: "/etc/agones/allocator/ca/tls-ca.crt"

            - name: ROUTE53_HOSTED_ZONE_ID
              value: Z03982962I5Q4PS90RDSK

            - name: AWS_REGION
              # value: us-east-1
              value: ap-northeast-2
            - name: HOST_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
            - name: AWS_XRAY_DAEMON_ADDRESS
              value: "$(HOST_IP):2000"
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: aws-credentials
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: aws-credentials
                  key: AWS_SECRET_ACCESS_KEY

          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10

          volumeMounts:
            - name: allocator-client-cert
              mountPath: /etc/agones/allocator/client
              readOnly: true
            - name: allocator-ca-cert
              mountPath: /etc/agones/allocator/ca
              readOnly: true

      volumes:
        - name: allocator-client-cert
          secret:
            # client 시크릿
            secretName: allocator-client
        - name: allocator-ca-cert
          secret:
            # ca 시크릿
            secretName: allocator-ca
