apiVersion: v1
kind: Namespace
metadata:
  name: aws-xray
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: xray-daemon
  namespace: aws-xray
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: xray-daemon
  namespace: aws-xray
spec:
  selector:
    matchLabels:
      app: xray-daemon
  template:
    metadata:
      labels:
        app: xray-daemon
    spec:
      serviceAccountName: xray-daemon
      # 노드 전체에 골고루 배포 (Tolerations 추가)
      tolerations:
        - operator: Exists
      containers:
        - name: xray-daemon
          image: amazon/aws-xray-daemon:latest
          ports:
            - containerPort: 2000
              hostPort: 2000 # UDP 2000 포트 호스트 바인딩
              protocol: UDP
          env:
            - name: AWS_REGION
              value: "ap-northeast-2"
          resources:
            limits:
              cpu: "200m"
              memory: "256Mi"
            requests:
              cpu: "50m"
              memory: "64Mi"
