deploymentMode: SingleBinary

loki:
  auth_enabled: false

  commonConfig:
    replication_factor: 1
    path_prefix: /tmp/loki

  schemaConfig:
    configs:
      - from: "2025-01-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: index_
          period: 24h

  storage:
    type: s3
    s3:
      region: ap-northeast-2
      s3ForcePathStyle: false

  ingester:
    chunk_idle_period: 30s
    max_chunk_age: 1m
    chunk_target_size: 1048576 # 1MB

singleBinary:
  replicas: 1

read:
  enabled: false
  replicas: 0

write:
  enabled: false
  replicas: 0

backend:
  enabled: false
  replicas: 0

gateway:
  enabled: false

chunksCache:
  enabled: false

resultsCache:
  enabled: false

lokiCanary:
  enabled: false

test:
  enabled: false

persistence:
  enabled: true
  storageClassName: gp2
  size: 10Gi
